<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD6NBz5PfUq1ZTB1wYFEoY2f0K7TlidG2k</string>
	<key>GCM_SENDER_ID</key>
	<string>639236534216</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.faceRecognition</string>
	<key>PROJECT_ID</key>
	<string>sleepapnea-2f41e</string>
	<key>STORAGE_BUCKET</key>
	<string>sleepapnea-2f41e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:639236534216:ios:6024a24acf03e650079afd</string>
</dict>
</plist>